* {
    margin: 0;
}

.Team {
    background-image: url("../Image/Bg-image.svg");
    background-color: #10172b;
    /* height: 500px; */
    width: 100%;
}

.Team img {
    height: 50px;
    width: 100px;
    text-align: center;
    margin: auto;

}

.Team img {
    height: 50px;
    width: 140px;
    text-align: center;
    margin: auto;
    display: flex;
    /* padding-top: 60px; */
}

.Team .team {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    justify-content: center;
}
 /* .......................Csk .................. */
.Team .team  .Csk  {
    height: 300px;
  background-image: linear-gradient( yellow , yellow , rgb(24, 23, 23), rgb(24, 23, 23))  ;
  list-style: none !important;
   text-decoration: none !important;
   position: relative;
   border-radius: 20px;

}
.Team .team .Csk  img {
    margin: 20px auto;
    height: 80px;
    width: 55%;
    list-style: none !important;
   text-decoration: none !important;
}
.Team .team .Csk a h3{
    color: #fff;
    margin:100px auto;
    text-align: center;
   list-style: none !important;
   text-decoration: none !important;
}
.Team .team .Csk a{
    list-style: none !important;
   text-decoration: none !important;
   
}
.Team .team  .Csk .trophy
{
    background-image: linear-gradient(rgb(98, 98, 97) ,rgb(90, 86, 86));
    position: absolute;
    top: 0px;
    display: none;
    height: 300px;
    width: 100%;
    border-radius: 20px;

}
.Team .team  .Csk .trophy .year
{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Team .team  .Csk:hover .trophy
{ 
display: block !important;
}
 /* .................DC................ */
 .Team .team  .Dc  {
    height: 300px;
  background-image: linear-gradient(#b9251c ,#b9251c ,#01184f,#01184f)  ;
  list-style: none !important;
   text-decoration: none !important;
   position: relative;
   border-radius: 20px;

}
.Team .team .Dc  img {
    margin: 20px auto;
    height: 80px;
    width: 55%;
    list-style: none !important;
   text-decoration: none !important;
}
.Team .team .Dc a h3{
    color: #fff;
    margin:100px auto;
    text-align: center;
   list-style: none !important;
   text-decoration: none !important;
}
.Team .team .Dc a{
    list-style: none !important;
   text-decoration: none !important;
   
}
.Team .team  .Dc .trophy
{
    background-image: linear-gradient(rgb(230, 182, 10) ,gray);
    position: absolute;
    top: 0px;
    display: none;
    height: 300px;
    border-radius: 20px;

    width: 100%;
}
.Team .team  .Dc .trophy .year
{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Team .team  .Dc:hover .trophy
{ 
display: block !important;
}

/* ....................Gt.................... */

.Team .team  .GT  {
    height: 300px;
  background-image: linear-gradient( #77c7f2 , #77c7f2 , #0d1a30, #0d1a30)  ;
  list-style: none !important;
   text-decoration: none !important;
   position: relative;
   border-radius: 20px;

}
.Team .team .GT  img {
    margin: 20px auto;
    height: 80px;
    width: 55%;
    list-style: none !important;
   text-decoration: none !important;
}
.Team .team .GT a h3{
    color: #fff;
    margin:100px auto;
    text-align: center;
   list-style: none !important;
   text-decoration: none !important;
}
.Team .team .GT a{
    list-style: none !important;
   text-decoration: none !important;
   
}
.Team .team  .GT .trophy
{
    background-image: linear-gradient(rgb(78, 78, 77) ,rgb(101, 99, 99));
    position: absolute;
    top: 0px;
    border-radius: 20px;

    display: none;
    height: 300px;
    width: 100%;
}
.Team .team  .GT .trophy .year
{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Team .team  .GT:hover .trophy
{ 
display: block !important;
}
/* .................KKR.............. */
.Team .team  .KKR  {
    height: 300px;
  background-image: linear-gradient( #ecc542 , #ecc542 , #281f49, #281f49)  ;
  list-style: none !important;
   text-decoration: none !important;
   position: relative;
   border-radius: 20px;

}
.Team .team .KKR  img {
    margin: 20px auto;
    height: 80px;
    width: 55%;
    list-style: none !important;
   text-decoration: none !important;
}
.Team .team .KKR a h3{
    color: #fff;
    margin:100px auto;
    text-align: center;
   list-style: none !important;
   text-decoration: none !important;
}
.Team .team .KKR a{
    list-style: none !important;
   text-decoration: none !important;
   
}
.Team .team  .KKR .trophy
{
    background-image: linear-gradient(rgb(85, 84, 83) ,rgb(97, 92, 92));
    position: absolute;
    top: 0px;
    display: none;
    height: 300px;
    width: 100%;
    border-radius: 20px;

}
.Team .team  .KKR .trophy .year
{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Team .team  .KKR:hover .trophy
{ 
display: block !important;
}

/* ..................LSG................ */

.Team .team  .LSG  {
    height: 300px;
  background-image: linear-gradient( #ffffff , #ffffff , #0248bc, #0248bc)  ;
  list-style: none !important;
   text-decoration: none !important;
   position: relative;
   border-radius: 20px;

}
.Team .team .LSG  img {
    margin: 20px auto;
    height: 80px;
    width: 55%;
    list-style: none !important;
   text-decoration: none !important;
}
.Team .team .LSG a h3{
    color: #fff;
    margin:100px auto;
    text-align: center;
   list-style: none !important;
   text-decoration: none !important;
}
.Team .team .LSG a{
    list-style: none !important;
   text-decoration: none !important;
   
}

/* .......................MI...................... */

.Team .team  .MI  {
    height: 300px;
  background-image: linear-gradient( #2d6ab1,#2d6ab1 , #143266,#143266)  ;
  list-style: none !important;
   text-decoration: none !important;
   position: relative;
   border-radius: 20px;

}
.Team .team .MI  img {
    margin: 20px auto;
    height: 80px;
    width: 55%;
    list-style: none !important;
   text-decoration: none !important;
}
.Team .team .MI a h3{
    color: #fff;
    margin:100px auto;
    text-align: center;
   list-style: none !important;
   text-decoration: none !important;
}
.Team .team .MI a{
    list-style: none !important;
   text-decoration: none !important;
   
}
.Team .team  .MI .trophy
{
    background-image: linear-gradient(rgb(85, 84, 83) ,rgb(97, 92, 92));
    position: absolute;
    top: 0px;
    display: none;
    height: 300px;
    width: 100%;
    border-radius: 20px;

}
.Team .team  .MI .trophy .year
{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Team .team  .MI:hover .trophy
{ 
display: block !important;
}
/* .......................PK...................... */

.Team .team  .PK  {
    height: 300px;
  background-image: linear-gradient( #d71920,#d71920,#283665,#283665)  ;
  list-style: none !important;
   text-decoration: none !important;
   position: relative;
   border-radius: 20px;

}
.Team .team .PK  img {
    margin: 20px auto;
    height: 80px;
    width: 55%;
    list-style: none !important;
   text-decoration: none !important;
}
.Team .team .PK a h3{
    color: #fff;
    margin:100px auto;
    text-align: center;
   list-style: none !important;
   text-decoration: none !important;
}
.Team .team .PK a{
    list-style: none !important;
   text-decoration: none !important;
   
}
.Team .team  .PK .trophy
{
    background-image: linear-gradient(rgb(85, 84, 83) ,rgb(97, 92, 92));
    position: absolute;
    top: 0px;
    display: none;
    height: 300px;
    width: 100%;
    border-radius: 20px;

}
.Team .team  .PK .trophy .year
{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Team .team  .PK:hover .trophy
{ 
display: block !important;
}

/* .......................RR...................... */

.Team .team  .RR  {
    height: 300px;
  background-image: linear-gradient(#eb83b5,#eb83b5 , #052c5d,#052c5d)  ;
  list-style: none !important;
   text-decoration: none !important;
   position: relative;
   border-radius: 20px;

}
.Team .team .RR  img {
    margin: 20px auto;
    height: 80px;
    width: 55%;
    list-style: none !important;
   text-decoration: none !important;
}
.Team .team .RR a h3{
    color: #fff;
    margin:100px auto;
    text-align: center;
   list-style: none !important;
   text-decoration: none !important;
}
.Team .team .RR a{
    list-style: none !important;
   text-decoration: none !important;
   
}
.Team .team  .RR .trophy
{
    background-image: linear-gradient(rgb(85, 84, 83) ,rgb(97, 92, 92));
    position: absolute;
    top: 0px;
    display: none;
    height: 300px;
    width: 100%;
    border-radius: 20px;

}
.Team .team  .RR .trophy .year
{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Team .team  .RR:hover .trophy
{ 
display: block !important;
}

/* .......................RCB...................... */

.Team .team  .RCB  {
    height: 300px;
  background-image: linear-gradient( #2b2a29,#2b2a29 , #511c1f,#511c1f)  ;
  list-style: none !important;
   text-decoration: none !important;
   position: relative;
   border-radius: 20px;

}
.Team .team .RCB  img {
    margin: 20px auto;
    height: 80px;
    width: 55%;
    list-style: none !important;
   text-decoration: none !important;
}
.Team .team .RCB a h3{
    color: #fff;
    margin:100px auto;
    text-align: center;
   list-style: none !important;
   text-decoration: none !important;
}
.Team .team .RCB a{
    list-style: none !important;
   text-decoration: none !important;
   
}





/* .......................SH...................... */

.Team .team  .SH  {
    height: 300px;
  background-image: linear-gradient( #f26522, #f26522 ,#722424, #722424)  ;
  list-style: none !important;
   text-decoration: none !important;
   position: relative;
   border-radius: 20px;

}
.Team .team .SH  img {
    margin: 20px auto;
    height: 80px;
    width: 55%;
    list-style: none !important;
   text-decoration: none !important;
}
.Team .team .SH a h3{
    color: #fff;
    margin:100px auto;
    text-align: center;
   list-style: none !important;
   text-decoration: none !important;
}
.Team .team .SH a{
    list-style: none !important;
   text-decoration: none !important;
   
}
.Team .team  .SH .trophy
{
    background-image: linear-gradient(rgb(85, 84, 83) ,rgb(97, 92, 92));
    position: absolute;
    top: 0px;
    display: none;
    height: 300px;
    width: 100%;
    border-radius: 20px;
}
.Team .team  .SH .trophy .year
{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Team .team  .SH:hover .trophy
{ 
display: block !important;
}